.content-wrapper{
  background-color: #bbbbbb;
  padding: 40px 0 40px 0;
}

.content-wrapper-2{
  background-color: #4d597a;
  color: #eee;
  padding: 40px;
}

.image{
  width: 100%;
}
.image-wrapper{
  position: relative;
}
.text-wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
  background-color: #d2d2d273;
  padding: 15px;
  padding-top: 10px;
}
.content-wrapper .btn-primary{
  margin-top: 5px;
  border-color: #152459;
  background-color: #152459;
  border-radius: 2px;
  min-width: 214px;
}
body{
  background-color: #eeeeee;
}
a{
  color: #152459;
}
.unordered-list{
  text-align: justify;
  padding: 0px !important;
}
.form-wrapper{
  padding: 0 40px 0 40px;
}

.button-wrapper{
  text-align: center;
  padding: 10px 0 10px 0;
}
