.button-wrapper{
  padding-top: 40px;
  text-align: center;
}

.button-wrapper h3{
  margin-top: 35px;
}

.button-wrapper p {
  margin-top: 35px;
}
.content-wrapper{
  background-color: #bbbbbb;
  padding: 40px;
}

.content-wrapper-2{
  background-color: #4d597a;
  padding: 40px;
}

.image{
  width: 100%;
}
.image-wrapper{
  position: relative;
}
.text-wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
  background-color: #d2d2d273;
  padding: 15px;
  padding-top: 10px;
}
.btn-position{
  position: absolute;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
}
.content-wrapper .btn-primary{
  margin-top: 5px;
  border-color: #152459;
  background-color: #152459;
  border-radius: 2px;
  text-align: center;
}
body{
  background-color: #eeeeee;
}
a{
  color: white;
}
